html, body {
height: 100%;
width: 100%;
overflow: scroll;
background: rgba(0, 128, 0, 0.3)!important;
}
.card-text{
	overflow: scroll;
}
div.card.search-results{
	align-self: auto;
	align-content: space-around;
	column-gap: normal;
	height: auto;
	width: auto;
}

.row {
	padding: 20px 0px 0px 20px;
}

#home > div > div {
	padding: 100px 0px 0px 0px;
}

body.learnMore{
		background-image: url(img/urbanFarm.jpeg);
		/* background-color: rgba(255, 255, 255, 0.7) !important; */
		background-blend-mode: color;
		background-repeat: repeat-y;
		background-size: 100%;

	}

.navbar {
  background-color: #23415C;
  padding: 1% 0;
  font-size: 1.2em;
}
.navbar-brand {
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-defaul .navbar-navbar-nav li a {
  color: #D5D5D5;
}

.navbar-default .navbar-navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
  color: #FFF;
}
#home {
  background: url(img/hero-bg.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
/*   background-size: contain;
  background-repeat: no-repeat; */
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h1 {
  font-size: 500%;
  font-weight: 700;
}
.padding {
  padding: 80px 0;
}
.padding img {
  width: 100%;
}
#fixed {
  background: url(img/background.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}
footer {
  width: 100%;
  background-color: #429244;
  padding: 3% 3% 3% 3%;
  color: #FFF;
  position: relative;
  bottom: 0;
}

.fa {
  padding: 15px;
  font-size: 25;
  color: #FFF;
}

.fa:hover {
  color: 9ACD32;
  text-decoration: none;
}

.icon {
  max-width: 200px;

}

#white-text {
	color: #FFF;
}
#white-text-lg {
	color: #FFF;
  font-size: 500%;
  font-weight: 700;
    text-align: center;
  vertical-align: middle;
}

#navbarSupportedContent > div:nth-child(3) > a {
	color: tomato !important;
	font-size: medium;
}

#navbarSupportedContent > div:nth-child(4) > div > a {
	color: tomato !important;
	font-size: medium;
}

#navbarSupportedContent > div:nth-child(2) > a {
		color: tomato !important;
}

#text-white {
	color: #FFF;
}

#navbarSupportedContent > form {
	padding-top: 20px;
}

body > nav > img {
	left: 50px;
}

#tomato-text > div > h3 > a {
	color: tomato;
}

#white-text > h4 > a {
	color: tomato;
}

.fa-user-circle-o {
	color: tomato;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    padding-top: 5%;
    max-width: 100px;
  }

  .navbar-brand padding img {
    height: auto;
    width: 75%;
    min-height: 35px;
    padding: 0 15px 5px;
  }


}
form{
	padding-bottom: 20px;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.3)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.3)!important;
}

#panel-grey {
	border-radius: 15px;
	background: rgba(122, 130, 136, 0.2)!important;

}

#panel-green {
	padding: 20px;
	border-radius: 15px;
	background: rgba(0, 128, 0, 0.2)!important;

}


/* For login.jsp  */

/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FF6347;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FF6347;
color: rgba(0, 128, 0, 0.2);
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
/* color: rgba(0, 128, 0, 0.2); */
background-color: #FF6347;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}




/*--- iOS Landing Page Fix
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}
.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
#home {
	background-image: url('img/mountains.jpeg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}
.landing-text {
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
--*/

/*--- iOS Fixed Image Fix
figure {
	position: relative;
	width: 100%;
	height: 60%;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/background.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}
--*/
